body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.9;
    
}
::placeholder{
    

    top: 443px;
    left: 635px;
    width: 163px;
    height: 33px;
    text-align: left;
    font: Regular 25px/33px Roboto;
    letter-spacing: 0.24px;
    color: #00000099;
    opacity: 1;
}


div.containers{
    
    width: 900px;
    height: 610px;
    margin: 35px auto;
    font-family: sans-serif;

}
div.mains {
    width: 400px;
    padding: 10px 50px 25px;
    float: left;
    margin-top: 150px;
    justify-content: center;
    margin-left: 200px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 5px #00000024;
    border-radius: 50px;
    opacity: 1;
}
.loginhead{
    top: 280px;
    left: 609px;
    width: 380px;
    height: 50px;
    text-align: left;
    font: Regular 38px/50px Roboto;
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
}

input[type=text],input[type=password]{
    width: 400px;
    font-family: Roboto;
    height: 30px;
    padding: 5px;
    width: 400px;
    font-family: Roboto;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    opacity: 0.5;   
}
.sign{
    text-align: left;
    font: Regular 22px/29px Roboto;
    letter-spacing: 0.21px;
    color: #00000099;
    opacity: 1;
    height: 29px;
    top: 676px;
}
.user{
    letter-spacing: 0.21px;
    color: #00000099;
    opacity: 1;
    height: 29px;
    top: 676px;
    display: inline;
    float: right;
    margin: -15px;
}
center{
    font-size: 32px;
}
input[type=button]{
    font-size: 12px;
    text-align: center;
    width: 103%;
    padding: 15px 32px;
    padding: 10px 10px;
    
    font-style: inherit;
    font-family: Product Sans;
    height: 50%;
    color: white;
    background: #3853A4 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border-radius: 15px;
    opacity: 1;
}
.button{
    color: lavender;
}
.loginhead{
    font-size: 1.3em;
}
label{
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    font-weight: lighter
}
